[Unit]
Description=OS.js is a web-desktop written in Nodejs and javascript. 
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
Environment="__YNH_NODE_LOAD_PATH__"
ExecStart=__YNH_NPM__ run serve
StandardOutput=append:/var/log/__APP__/__APP__.log
Restart=always

[Install]
WantedBy=multi-user.target
