[Unit]
Description=OS.js is a web-desktop written in Nodejs and javascript. 
After=network.target


[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
ExecStartPre=__NODEJS__
Environment="PATH=__ENV_PATH__"
ExecStart=__NODE__/node osjs run --hostname=0.0.0.0 --port=__PORT__ >> /var/log/__APP__/osjs.log
Restart=always

[Install]
WantedBy=multi-user.target
