[Unit]
Description=OS.js is a web-desktop written in Nodejs and javascript. 
After=network.target


[Service]
Type=simple
User=__APP__
Group=__APP__
ExecStartPre=__NODEJS__
Environment="PATH=__ENV_PATH__"
ExecStart=__SUDO_PATH__node osjs run --port=__PORT__
Restart=always

[Install]
WantedBy=multi-user.target
